<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
</head>
<body>
    <form action="/add-new-user" method="post">
        <p>Username: <label><input type="text" name="username"></label></p>
        <p>E-mail address: <label><input type="email" name="email"></label></p>
        <p>Date of birth: <label><input type="date" name="dateOfBirth"></label></p>
        <p>Department: <label><input type="text" name="department"></label></p>
        <p>Job Title: <label><input type="text" name="jobTitle"></label></p>
        <p><input type="submit" value="Submit"> &nbsp;&nbsp; <input type="reset" value="Reset"></p>
    </form>
</body>
</html>