<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<style type="text/css">
    body{
        background-repeat:no-repeat;
        background-size:100%;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Edit Target</title>
</head>
<body background="/background/index.png">
    <p align="right"><a href="/manage-target">Back</a></p>
    <div th:if="${isOwnerExist}"></div>
    <h3 align="center">Edit Target</h3>
    <center>
        <form action="/update-target" method="post">
            <p th:text="'ID: ' + ${target.getId()}"></p>
            <input name="id" th:value="${target.getId()}" hidden>
            <p>Target: <input name="target" th:value="${target.getTarget()}"></p>
            <p>Target Type: <select name="targetType">
                                <option th:selected="${target.getTargetType()} == HOST" value="HOST">HOST</option>
                                <option th:selected="${target.getTargetType()} == URL" value="URL">URL</option>
                            </select>
            <p>Department: <select name="department">
                                <option th:each="department : ${departmentList}" th:text="${department}" th:value="${department}" th:selected="${target.getDepartment()} == ${department}"></option>
                            </select></p>
            <p>Owner: <input type="text" name="owner" th:value="${target.getOwner()}"></p>
            <input type="submit" value="Submit"> &nbsp;&nbsp; <input type="reset" value="Reset">
        </form>
    </center>
</body>
</html>