<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<style type="text/css">
    body{
        background-repeat:no-repeat;
        background-size:100%;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body background="/background/index.png">
    <p align="right"><a href="/manage-user">Back</a></p>
    <h3 align="center">Edit User</h3>
    <p th:unless="${isUsernameValid}">Invalid Username</p>
    <center>
        <form action="/update-user" method="post">
            <img th:src="@{${avatar}}" alt="Avatar" height="60" width="60"> <br>
            <p th:text="'ID: '+${id}"></p>
            <input type="text" name="id" th:value="${id}" hidden>
            <p>Username: <input type="text" name="username" th:value="${username}"></p>
            <p th:text="'Is active: '+${isActive}"></p>
            <p th:text="'Role: ' + ${role}"></p>
            <p>Date of Birth: <input type="date" name="dateOfBirth" th:value="${dateOfBirth}"></p>
            <p>E-mail: <input type="email" name="eMail" th:value="${eMail}"></p>
            <p>Department:
                <select name="department">
                    <option th:each="dept : ${departmentList}" th:text="${dept}" th:value="${dept}" th:selected="${dept} == ${department}"></option>
                </select>
            </p>
            <p>Job Title:
                <select name="jobTitle">
                    <option th:each="job : ${jobTitleList}" th:text="${job}" th:value="${job}" th:selected="${job} == ${jobTitle}"></option>
                </select>
            </p>
            <input type="submit" value="Submit"> &nbsp;&nbsp; <input type="reset" value="Reset">
        </form>
    </center>
</body>
</html>

