<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div th:if="${hasInfo}"><p th:text="${info}"></p></div>
    <a href="/modify-password">Modify Password</a>
    <a href="/logout">Log out</a>
    <br>
    <div th:if="${isAdministrator}">
        <a href="/add-new-user">Add new user</a>
    </div>
    <br>
    <table border="2" cellspacing="0">
        <div th:if="${isAdministrator}"><th colspan="4">Target List</th></div>
        <div th:unless="${isAdministrator}"><th colspan="3">Target List</th></div>
        <tr>
            <th>Index</th>
            <th>Target</th>
            <th>Target type</th>
            <div><th th:if="${isAdministrator}">Action</th></div>
        </tr>
        <tr th:each="target, i : ${targetList}">
            <td th:text="${i.count}" align="center"></td>
            <td th:text="${target.getTarget()}"></td>
            <td th:text="${target.getTargetType().toString()}" align="center"></td>
            <div th:if="${isAdministrator}">
                <td>
                    <form action="/delete-target" method="post">
                        <input name="index" th:value="${i.count}" hidden>
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </div>
        </tr>
    </table>
    <br>
    <table border="2" cellspacing="0">
        <tr><th colspan="4">Scan Result Summary</th></tr>
        <tr>
            <th>Index</th>
            <th>Target</th>
            <th>Target type</th>
            <th>Description</th>
        </tr>
        <tr th:each="scanResult, i : ${scanResultList}">
            <td th:text="${i.count}" align="center"></td>
            <td th:text="${scanResult.getTarget()}"></td>
            <td th:text="${scanResult.getTargetType().toString()}" align="center"></td>
            <td th:text="${scanResult.getDescription()}"></td>
        </tr>
    </table>
</body>
</html>