<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div th:if="${hasInfo}"><p th:text="${info}"></p></div>
    <a href="/profile">Profile</a>
    <a href="/logout">Log out</a>
    <br>
    <div th:if="${isAdministrator}">
        <a href="/manage-user">Manage User</a>
        <a href="/manage-target">Manage Target</a>
    </div>
    <br>

    <br>
    <table border="2" cellspacing="0">
        <tr><th colspan="4">Scan Result Summary</th></tr>
        <tr>
            <th>Index</th>
            <th>Target</th>
            <th>Target type</th>
            <th>Description</th>
        </tr>
        <tr th:each="scanResult, i : ${scanResultList}">
            <td th:text="${i.count}" align="center"></td>
            <td th:text="${scanResult.getTarget()}"></td>
            <td th:text="${scanResult.getTargetType().toString()}" align="center"></td>
            <td th:text="${scanResult.getDescription()}"></td>
        </tr>
    </table>
</body>
</html>