<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<style type="text/css">
    body{
        background-repeat:no-repeat;
        background-size:100%;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>User List Page</title>
</head>
<body background="/background/index.png">
    <p align="right"><a href="/index">Back</a></p>
    <h3 align="center">User Management</h3>
    <table border="2" cellspacing="0" align="center">
        <tr><th colspan="8">User List</th></tr>
        <tr>
            <th>Index</th>
            <th>Username</th>
            <th>Is active</th>
            <th>Role</th>
            <th>Date of birth</th>
            <th>E-mail</th>
            <th colspan="2">Action</th>
        </tr>
        <tr th:each="user, i : ${userList}">
            <td th:text="${i.count}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.isActive()}"></td>
            <td th:text="${user.getRole().toString()}"></td>
            <td th:text="${user.getDateOfBirth()}"></td>
            <td th:text="${user.getEMail()}"></td>
            <td><a th:href="'/edit-user?id='+${user.getId()}">Edit</a></td>
            <td><a th:href="'/delete-user?id='+${user.getId()}">Delete</a></td>
        </tr>
    </table>
    <br>
    <p align="center"><a href="/add-new-user">Add New User</a></p>
</body>
</html>