<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<style type="text/css">
    body{
        background-repeat:no-repeat;
        background-size:100%;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Modify Password</title>
</head>
<body background="/background/index.png">
    <p align="right"><a href="/profile">Back</a></p>
    <h3 align="center">Modify Password</h3>
    <p th:text="${info}"></p>
    <center>
        <form action="/modify-password" method="post">
            <p>Input old password: <label><input type="password" name="oldPassword"></label></p>
            <p>Input new password: <label><input type="password" name="newPassword"></label></p>
            <p>Confirm new password: <label><input type="password" name="confirmNewPassword"></label></p>
            <p><input type="submit" value="Submit"> &nbsp; &nbsp; <input type="reset" value="Reset"></p>
        </form>
    </center>
</body>
</html>