<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify Password</title>
</head>
<body>
    <p th:text="${info}"></p>
    <form action="/modify-password" method="post">
        Input old password: <label><input type="password" name="oldPassword"></label>
        Input new password: <label><input type="password" name="newPassword"></label>
        Confirm new password: <label><input type="password" name="confirmNewPassword"></label>
        <input type="submit" value="Submit"> &nbsp; &nbsp; <input type="reset" value="Reset">
    </form>
</body>
</html>