<!DOCTYPE html>
<html lang="en">

<style type="text/css">
    body{
        background-repeat:no-repeat;
        background-size:100%;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Set Password</title>
</head>
<body background="/background/index.png">
    <h3 align="center">Set Password</h3>
    <p align="center">You are required to set a new password since it is your first time to log in</p>
    <center>
        <form action="/set-password" method="post">
            <p>Input password: <label><input type="password" name="password"></label></p>
            <p>Confirm password: <label><input type="password" name="confirmPassword"></label></p>
            <p><label><input type="submit" value="Submit"></label> &nbsp;&nbsp; <label><input type="reset" value="Reset"></label></p>
        </form>
    </center>
</body>
</html>