<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Password</title>
</head>
<body>
    <p>You are required to set a new password since it is your first time to log in</p>
    <form action="/set-password" method="post">
        Input password: <label><input type="password" name="password"></label>
        Confirm password: <label><input type="password" name="confirmPassword"></label>
        <label><input type="submit" value="Submit"></label> &nbsp;&nbsp; <label><input type="reset" value="Reset"></label>
    </form>
</body>
</html>